body {
  background-color: #bbbbff;
  margin: 32px 15% 32px 15%; /* css_01.html */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.currency-czk:after {
  content: " KÄ";
}

/* index */
.index input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.index input[type="search"] {
  width: 256px;
}

div#menu {
  width: 12%;
  float: left;
}
#menu li > a {
  display: block;
  background-color: #cccccc;
  color: black;
  padding: 2px;
}
#menu li > a:link {
  background-color: #eeeeff;
}
#menu li > a[href]:hover {
  background-color: #ffffff;
}
#menu li > a[href]:focus {
  background-color: #ffffff;
}
#menu li > a[href]:active {
  background-color: #ffdddd;
}
#menu li > a:visited {
  background-color: #eeeeff;
}

div#content {
  width: 76%;
  float: left;
}

/* search */
.searchResults li {
  margin: 2px 2px 2px 2px;
}
.searchResults a {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
  display: block;
  background-color: #eeeeff;
}

table {
  border-collapse: collapse; /* http://stackoverflow.com/a/1323014 */
}

td {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 2px 2px 2px 2px;
  vertical-align: top;
}

th {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 2px 2px 2px 2px;
  vertical-align: top;
  background-color: #cccccc;
}

td ul {
  margin: 0 0 0 0;
  list-style-type: none;
  padding-left: 0;
}

table input[type="text"] {
  width: 100%;
}

table select {
  width: 100%;
}

table button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(2n) {
  background-color: #ffffff;
}

tr:nth-child(2n+1) {
  background-color: #eeeeee;
}

h2 {
  position: relative;
  left: 20px;
}
