body {
  background-color: #ddffff;
  margin: 50px 15% 50px 15%; /* css_01.html */
}

h1 {
  text-align: center;
}

.currency-czk:after {
  content: " Kč";
}

/* index */
div.index {
  /* http://www.w3.org/Style/Examples/007/center */
  margin-left: auto;
  margin-right: auto;
}
.index input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.index input[type="search"] {
  width: 256px;
}

/* search */
.searchResults ul {
  list-style-type: none;
  padding-left: 0;
}

.searchResults li {
  border-width: 4px;
  border-style: outset;
  border-color: blue;
  padding: 2px 2px 2px 2px;
  margin-top: 2px;
  margin-bottom: 4px;
}

table {
  border-collapse: collapse; /* http://stackoverflow.com/a/1323014 */
}

td {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 2px 2px 2px 2px;
  vertical-align: top;
}

th {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 2px 2px 2px 2px;
  vertical-align: top;
  background-color: #dddddd;
}

td ul {
  margin: 0 0 0 0;
  list-style-type: none;
  padding-left: 0;
}

table input[type="text"] {
  width: 100%;
}

table select {
  width: 100%;
}

table button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(2n) {
  background-color: #ffffff;
}

tr:nth-child(2n+1) {
  background-color: #eeeeee;
}
